In [4]:
#this code predicts the housing price with a artificial neural network
import pandas as pd
import numpy as np

#read_data from 
data = pd.read_csv("./kc_house_data.csv")

#delete unrelevant features: house id and date
data = data.drop(['id', 'date','lat','long','waterfront','zipcode'],axis=1)
data.head()

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,sqft_living15,sqft_lot15
0,221900.0,3,1.00,1180,5650,1.0,0,3,7,1180,0,1955,0,1340,5650
1,538000.0,3,2.25,2570,7242,2.0,0,3,7,2170,400,1951,1991,1690,7639
2,180000.0,2,1.00,770,10000,1.0,0,3,6,770,0,1933,0,2720,8062
3,604000.0,4,3.00,1960,5000,1.0,0,5,7,1050,910,1965,0,1360,5000
4,510000.0,3,2.00,1680,8080,1.0,0,3,8,1680,0,1987,0,1800,7503

In [13]:
x_train = data.values
#x_train = (x_train - np.mean(x_train,axis=0))/np.std(x_train,axis=0)

def KNN(data_train,data_test,k=5):
    dist = np.sum(np.power(data_train - data_test,2),axis=1)
    min_index = np.argsort(dist)
    
    return data_train[min_index[0:k]]
#user prefernce
user_preference = [450000,3,2,1500,7000,1.0,0,4,6,1500,400,1980,1,1500,5000]

recommendation = KNN(x_train,user_preference)
print(recommendation)

[[4.4995e+05 3.0000e+00 1.7500e+00 1.4700e+03 7.5900e+03 1.0000e+00
  0.0000e+00 3.0000e+00 7.0000e+00 1.4700e+03 0.0000e+00 1.9880e+03
  0.0000e+00 1.7000e+03 5.0800e+03]
 [4.4950e+05 3.0000e+00 2.0000e+00 1.7700e+03 6.6100e+03 1.0000e+00
  0.0000e+00 4.0000e+00 7.0000e+00 9.6000e+02 8.1000e+02 1.9540e+03
  0.0000e+00 2.0100e+03 4.3610e+03]
 [4.5000e+05 3.0000e+00 1.7500e+00 1.2500e+03 5.9630e+03 1.0000e+00
  0.0000e+00 4.0000e+00 7.0000e+00 1.2500e+03 0.0000e+00 1.9530e+03
  0.0000e+00 9.7000e+02 5.1000e+03]
 [4.4900e+05 2.0000e+00 1.7500e+00 1.5100e+03 6.8520e+03 1.0000e+00
  0.0000e+00 3.0000e+00 8.0000e+00 1.5100e+03 0.0000e+00 2.0050e+03
  0.0000e+00 1.5100e+03 5.9120e+03]
 [4.5000e+05 3.0000e+00 2.2500e+00 1.9600e+03 6.5000e+03 2.0000e+00
  0.0000e+00 4.0000e+00 8.0000e+00 1.9600e+03 0.0000e+00 1.9770e+03
  0.0000e+00 1.8600e+03 6.1600e+03]]